header.page-header {
    nav.navbar {
        .user-options {
            .cart {
                .dropdown-menu {
                    left: -150px;
                    padding: 0;
                    margin-top: 10px;
                    width: 300px;
                }
                h3 {
                    border-bottom: 1px solid $grayish_blue;
                    color: $black;
                    font: 700 16px $font;
                    padding: 15px 20px;
                }
                .cart-info {
                    align-items: center;
                    justify-content: center;
                    min-height: 150px;
                    padding: 20px;
                    &.filled {
                        display: flex;
                        flex-flow: column nowrap;
                        ul.products-in-cart {
                            width: 100%;
                            li.item {
                                align-items: center;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: space-between;
                                figure.img-item, span.item-title, button.item-delete {
                                    flex: 0 1 auto;
                                }
                                figure.img-item {
                                    border-radius: 5px;
                                    height: 40px;
                                    overflow: hidden;
                                    width: 40px;
                                    img {
                                        max-height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                span.item-title {
                                    color: $dark_grayish_blue;
                                    font: normal 13px/23px $font;
                                    strong {
                                        color: $black;
                                        font-weight: bold;
                                    }
                                }
                                button.item-delete {
                                    background: none;
                                    svg {
                                        fill: $grayish_blue;
                                    }
                                    &:hover {
                                        svg {
                                            fill: $black;
                                        }
                                    }
                                }
                            }
                        }
                        button.btn-checkout-cart {
                            align-items: center;
                            background: $orange;
                            border-radius: 10px;
                            box-shadow: 0 15px 40px -10px rgba($orange, .5);
                            color: $white;
                            display: flex;
                            font: 700 15px $font;
                            justify-content: center;
                            margin-top: 30px;
                            max-width: 100%;
                            padding: 10px 30px;
                            text-align: center;
                            width: 100%;
                            svg {
                                fill: $white;
                                margin-right: 10px;
                                transform: scale(.9);
                            }
                            &:hover {
                                background: lighten($orange, 15%);
                            }
                        }
                    }
                }
            }
        }
    }
}