header.page-header {
    nav.navbar {
        .user-options {
            .cart {
                .dropdown-menu {
                    left: -150px;
                    padding: 0;
                    margin-top: 10px;
                    width: 300px;
                }
                h3 {
                    border-bottom: 1px solid $grayish_blue;
                    color: $black;
                    font: 700 16px $font;
                    padding: 15px 20px;
                }
                .cart-empty {
                    align-items: center;
                    justify-content: center;
                    height: 200px;
                    padding: 20px;
                }
                .cart-filled {
                }
            }
        }
    }
}