header.page-header {
    nav.navbar {
        padding: 0;
        .container {
            border-bottom: 1px solid $grayish_blue;
        }
        .logo {
            margin-right: 75px;
            padding: 0;
        }
        .navbar-nav {
            li {
                margin: 0 10px;
                a {
                    color: $dark_grayish_blue;
                    padding: 30px 0;
                    position: relative;
                    &:after {
                        background-color: $orange;
                        bottom: 0;
                        content: '';
                        display: block;
                        height: 3px;
                        left: 50%;
                        position: absolute;
                        transform: translateX(-50%);
                        transition: all .25s ease;
                        width: 0%;
                    }
                    &:hover {
                        color: $black;
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .user-options {
            flex: 0 1 auto;
            .btn-group {
                button {
                    border: 0 none;
                    box-shadow: none;
                    outline: none;
                    max-width: 45px;
                    padding: 0;
                    &::after {
                        display: none;
                    }
                }
            }
            .cart {
                button {
                    svg {
                        fill: $dark_grayish_blue;
                        transition: all .25s ease;
                        &:hover {
                            fill: $black;
                        }
                    }
                }
            }
            .account {
                margin-left: 30px;
                button {
                    border-radius: 50%;
                    height: 45.5px;
                    overflow: hidden;
                    position: relative;
                    width: 45.5px;
                    &::before {
                        background: $orange;
                        border-radius: 50%;
                        content: '';
                        display: block;
                        height: 100%;
                        left: 0;
                        position: absolute;
                        top: 0;
                        transform-origin: top center;
                        transform: scaleY(0);
                        transition: all .25s ease;
                        width: 100%;
                        z-index: -1;
                    }
                    img {
                        padding: 3px;
                    }
                    &:hover {
                        &::before {
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md) and (max-width: ($screen-lg - 1)) {}

@media (min-width: $screen-sm) and (max-width: ($screen-md - 1)) {}

@media (min-width: ($screen-xs + 1)) and (max-width: ($screen-sm - 1)) {}

@media (max-width: $screen-xs) {
    header.page-header {
        nav.navbar {
            .container {
                align-items: center;
                border: 0 none;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                padding: 1rem .75rem;
            }
            .logo {
                order: 2;
                margin-right: 0;
            }
            .offcanvas {
                padding-top: 10px;
                max-width: 65%;
                button {
                    box-shadow: none;
                    svg path {
                        fill: $dark_grayish_blue;
                        transition: all .25s ease;
                    }
                    &:hover {
                        svg path {
                            fill: $black;
                        }
                    }
                }
            }
            button.navbar-toggler {
                border: 0;
                margin-top: -5px;
                margin-right: -50px;
                svg path {
                    fill: $dark_grayish_blue;
                    transition: all .25s ease;
                }
                &:hover {
                    svg path {
                        fill: $black;
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }
            .navbar-nav {
                order: 1;
                li {
                    a {
                        color: $black;
                        display: block;
                        font-weight: 700;
                        margin-bottom: 10px;
                        padding: 20px 0 10px;
                        &:after {
                            left: 0;
                            transform: translateX(0);
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .user-options {
                order: 3;
            }
        }
    }   
}