header.page-header {
    nav.navbar {
        padding: 0;
        .container {
            border-bottom: 1px solid $grayish_blue;
            padding: 30px 0;
        }
        .logo {
            margin-right: 75px;
            padding: 0;
        }
        .navbar-nav {
            li {
                margin: 0 10px;
                a {
                    color: $grayish_blue;
                }
            }
        }
        .user-options {
            .btn-group {
                button {
                    border: 0 none;
                    box-shadow: none;
                    outline: none;
                    max-width: 45px;
                    padding: 0;
                    &::after {
                        display: none;
                    }
                }
            }
            .cart {}
            .account {
                margin-left: 30px;
            }
        }
    }
}