.page-container {
    flex-flow: row wrap;
    .left, .right {
        flex: 1 1 50%;
        padding: 0 50px;
    }
    .left {
        figure.main-image {
            border-radius: 10px;
            overflow: hidden;
        }
        div.thumbs-navigation {}
    }
}