.page-container {
    flex-flow: row wrap;
    margin-top: 100px;
    .left, .right {
        flex: 0 1 50%;
        padding: 0 50px;
    }
    .left {
        figure.main-image {
            border-radius: 10px;
            overflow: hidden;
        }
        .thumbs-navigation {
            ul {
                align-items: center;
                display: flex;
                justify-content: space-between;
                li {
                    border-radius: 10px;
                    flex: 0 1 auto;
                    height: 90px;
                    overflow: hidden;
                    max-width: 90px;
                    img {
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
    }
}